Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

add lint fixed files
  package.json
  src/components/.storybook/HotswapContainer/HotswapContainer.module.scss
  src/components/AsyncTable/AsyncTable.module.scss
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/templates/NFT.module.scss
  src/components/Icons/icons/IconPaperclip.tsx
  src/components/Skeleton/Skeleton.tsx
  src/components/TextStack/TextStack.module.scss
  tsconfig.json
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(toggle-group): add ToggleGroup
  package.json
  src/components/ToggleGroup/ToggleGroup.module.scss
  src/components/ToggleGroup/ToggleGroup.stories.tsx
  src/components/ToggleGroup/ToggleGroup.test.tsx
  src/components/ToggleGroup/ToggleGroup.tsx
  src/components/ToggleGroup/ToggleGroup.types.ts
  src/components/ToggleGroup/index.ts
  src/components/index.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

lint(style): remove unimportant rule Going to review this as a team!
  .stylelintrc.json
Due: none

feat(toggle-group): add ToggleGroup (#58)
  .stylelintrc.json
  package.json
  src/components/ToggleGroup/ToggleGroup.module.scss
  src/components/ToggleGroup/ToggleGroup.stories.tsx
  src/components/ToggleGroup/ToggleGroup.test.tsx
  src/components/ToggleGroup/ToggleGroup.tsx
  src/components/ToggleGroup/ToggleGroup.types.ts
  src/components/ToggleGroup/index.ts
  src/components/index.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: increment version number (0.8.0)
  package.json
Due: none

refactor: update NFT template to take optional button prop
  src/components/GridCard/GridCard.stories.tsx
  src/components/GridCard/templates/NFT.tsx
Due: yarn prettify, yarn lint:scripts

fix: resolve failing tests - refactor to reflect changes to nft template
  src/components/GridCard/templates/NFT.test.tsx
Due: yarn prettify, yarn lint:scripts

chore: increment version number (0.9.0)
  package.json
Due: none

chore: increment version number (0.9.0) (#60)
  package.json
Due: none

feat: expose radix aspect ratio
  src/components/AspectRatio/index.ts
Due: yarn prettify, yarn lint:scripts

feat: add aspect ratio to component index
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

feat: add Radix AspectRatio (#61)
  src/components/AspectRatio/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

feat(utils): add useDebounce hook
  src/utils/hooks/useDebounce.ts
Due: yarn prettify, yarn lint:scripts

feat(async-table): add search handling
  src/components/AsyncTable/AsyncTable.tsx
Due: yarn prettify, yarn lint:scripts

feat(input): update styles to match Figma
  src/components/Input/Input.module.scss
  src/components/Input/Input.scss
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/NumberInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(alert): add alert component
  src/components/Alert/Alert.module.scss
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Alert/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(input): height problems
  src/components/Input/Input.module.scss
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(input): 100% width
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

fix(input): more height issues
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

fix(toggle-group): minimal variant height issues
  src/components/ToggleGroup/ToggleGroup.module.scss
Due: yarn prettify, yarn lint:styles

refactor: update text stack prop type to take react node
  src/components/SkeletonText/SkeletonText.tsx
Due: yarn prettify, yarn lint:scripts

feat(table): add search and controls
  src/components/AsyncTable/AsyncTable.tsx
  src/components/AsyncTable/Controls.module.scss
  src/components/AsyncTable/Controls.tsx
  src/components/Search/Search.module.scss
  src/components/Search/Search.test.tsx
  src/components/Search/Search.tsx
  src/components/Search/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

lint: fix issues
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Search/Search.test.tsx
Due: yarn prettify, yarn lint:scripts

lint: remove empty stylesheet
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: update async text component text prop to take react node
  src/lib/types.ts
Due: yarn prettify, yarn lint:scripts

feat(dropdown): proper hover from Figma
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

feat(dropdown): add text glow on hover
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

feat(dropdown): proper hover from Figma (#64)
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

refactor(async-table): remove redundant `else`
  src/components/AsyncTable/AsyncTable.tsx
Due: yarn prettify, yarn lint:scripts

refactor(async-table): remove unnecessary div Used flex-end instead
  src/components/AsyncTable/Controls.module.scss
  src/components/AsyncTable/Controls.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor(async-table): shortened import
  src/components/AsyncTable/Controls.tsx
Due: yarn prettify, yarn lint:scripts

feat: add AsyncTable search, add Alert, restyle Input (#63)
  src/components/Alert/Alert.module.scss
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Alert/index.ts
  src/components/AsyncTable/AsyncTable.tsx
  src/components/AsyncTable/Controls.module.scss
  src/components/AsyncTable/Controls.tsx
  src/components/Input/Input.module.scss
  src/components/Input/Input.scss
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/NumberInput.tsx
  src/components/Input/index.tsx
  src/components/Search/Search.test.tsx
  src/components/Search/Search.tsx
  src/components/Search/index.ts
  src/components/ToggleGroup/ToggleGroup.module.scss
  src/components/index.ts
  src/utils/hooks/useDebounce.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: update text stack prop type to take react node (#62)
  src/components/SkeletonText/SkeletonText.tsx
  src/lib/types.ts
Due: yarn prettify, yarn lint:scripts

chore: increment minor version (0.10.0) [skip ci]
  package.json
Due: none

add empty result, search result and search placeholder
  src/components/AsyncTable/AsyncTable.module.scss
  src/components/AsyncTable/AsyncTable.tsx
  src/components/AsyncTable/Controls.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

update the logic to show empty search text
  src/components/AsyncTable/AsyncTable.module.scss
  src/components/AsyncTable/AsyncTable.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(image): add Image component
  src/components/Image/Image.module.scss
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(grid-card): use Image internally
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/GridCard.test.tsx
  src/components/GridCard/GridCard.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore(image): remove comments
  src/components/Image/Image.module.scss
Due: yarn prettify, yarn lint:styles
