Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

update input container min-width
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

bump version (1.8.0 -> 1.8.1)
  package.json
Due: none

feat: add input border error state
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

refactor: inline border styles
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

feat: add input border error state (#175)
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.8.1`) -> (`1.8.2`)
  package.json
Due: none

update accordion styles
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

bump version (1.8.2 -> 1.8.3)
  package.json
Due: none

update
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

bump version (`1.8.3` -> `1.8.4`)
  package.json
Due: none

Fix icon positioning
  src/components/Icons/Icon.module.scss
Due: yarn prettify, yarn lint:styles

Fix icon positioning (#180)
  src/components/Icons/Icon.module.scss
Due: yarn prettify, yarn lint:styles

bump version (1.8.4) -> (1.9.0)
  package.json
Due: none

Add background blur on modals
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

Add background blur on modals (#181)
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

bump version (1.9.0) -> (1.9.1)
  package.json
Due: none

update style
  src/components/Status/Status.module.scss
Due: yarn prettify, yarn lint:styles

bump version (`1.9.1` -> `1.9.2`)
  package.json
Due: none

feat: update skeleton loader colour
  src/components/Skeleton/override.scss
Due: yarn prettify, yarn lint:styles

feat: update opacity of highlight colour
  src/components/Skeleton/override.scss
Due: yarn prettify, yarn lint:styles

feat: update skeleton loader colour (#184)
  src/components/Skeleton/override.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.9.2`) -> (`1.9.3`)
  package.json
Due: none

chore: bump version (`1.9.2`) -> (`1.9.3`) (#185)
  package.json
Due: none

feat: (wip) add glow to primary button
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

feat: update button styles
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

feat: update active colours
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

refactor: remove unused style
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

feat: add small and large sizes
  src/components/Button/Button.scss
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: handle text button variants
  src/components/Button/Button.scss
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: lint
  src/components/Button/Button.scss
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: button component redesign (#186)
  src/components/Button/Button.scss
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.9.3`) -> (`1.9.4`)
  package.json
Due: none

chore: bump version (`1.9.3`) -> (`1.9.4`) (#187)
  package.json
Due: none

refactor: improve handling of variants and styles
  src/components/Button/Button.scss
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: update modal confirmation button usage
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

refactor: update button usage in toast
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

refactor: update button in buttons
  src/components/Wizard/Presets/Buttons.tsx
Due: yarn prettify, yarn lint:scripts

fix: active state for secondary variant
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

fix: lint
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

refactor: refactor button tests
  src/components/Button/Button.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
Due: yarn prettify, yarn lint:scripts

Path conditions:
  yarn prettify: (any of: *.{ts,tsx}) or (any of: *.scss)
  yarn lint:scripts: any of: *.{ts,tsx}
  yarn lint:styles: any of: *.scss
