Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

docs: update PR template
  .github/pull_request_template.md
Due: none

Fix CSS lint errors (#89)
  src/components/Accordion/Accordion.module.scss
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

Remove isContrast setting for IconButton
  src/components/IconButton/IconButton.stories.tsx
Due: yarn prettify, yarn lint:scripts

Generate the theme partial scss file
  .scripts/generate-theme.js
  package.json
  src/styles/_theme.scss
Due: yarn prettify, yarn lint:styles

Rename Properties types to prevent global collisions
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/ThemeEngine/ThemeEngine.test.tsx
  src/components/ThemeEngine/ThemeEngine.tsx
Due: yarn prettify, yarn lint:scripts

Remember the last mode between component changes
  .storybook/preview.js
Due: none

Copy the theme json into the build
  package.json
Due: none

Lint
  src/components/ThemeEngine/ThemeEngine.tsx
Due: yarn prettify, yarn lint:scripts

Add theme engine component
  .storybook/preview.js
  package.json
  src/components/.storybook/StoryCard/story-card.scss
  src/components/ThemeEngine/ThemeEngine.test.tsx
  src/components/ThemeEngine/ThemeEngine.tsx
  src/components/ThemeEngine/index.ts
  src/components/ThemeEngine/theme.json
  src/components/index.ts
  tsconfig.json
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor ( -> )
  package.json
Due: none

fix: resolve storybook console errors
  src/components/AsyncTable/GridPlaceholders.stories.tsx
  src/components/AsyncTable/RowPlaceholders.stories.tsx
Due: yarn prettify, yarn lint:scripts

fix: resolve missing key console errors (#85)
  src/components/AsyncTable/GridPlaceholders.stories.tsx
  src/components/AsyncTable/Placeholder.tsx
  src/components/AsyncTable/RowPlaceholders.stories.tsx
Due: yarn prettify, yarn lint:scripts

chore: version bump minor (`0.14.0`) => (`0.15.0`)
  package.json
Due: none

fix(dropdown): prettier on test file
  src/components/DropdownMenu/DropdownMenu.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(badge): added requried colors
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:styles

feat(badge): implemented the badge UI and styles
  src/components/Badge/Badge.module.scss
  src/components/Badge/Badge.tsx
  src/components/Badge/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(badge): updated the status styles
  src/components/Status/Status.module.scss
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(badge): implemented the stories for badge
  src/components/Badge/Badge.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat(badge): implemented test cases for badge component
  src/components/Badge/Badge.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(badge): updated icons import
  src/components/Badge/Badge.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(badge): removed unwanted imports
  src/components/Badge/Badge.test.tsx
Due: yarn prettify, yarn lint:scripts

Added categories to dropdown
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Be more restrictive on types so viewMode is required
  src/components/ThemeEngine/ThemeEngine.test.tsx
  src/components/ThemeEngine/ThemeEngine.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

Function component
  .storybook/preview.js
  src/components/ThemeEngine/ThemeEngine.test.tsx
  src/components/ThemeEngine/ThemeEngine.tsx
Due: yarn prettify, yarn lint:scripts

feat: Add Theme Component (#88)
  .scripts/generate-theme.js
  .storybook/preview.js
  package.json
  src/components/.storybook/StoryCard/story-card.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/ThemeEngine/ThemeEngine.test.tsx
  src/components/ThemeEngine/ThemeEngine.tsx
  src/components/ThemeEngine/index.ts
  src/components/ThemeEngine/theme.json
  src/components/index.ts
  src/styles/_theme.scss
  tsconfig.json
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(dropdown): add children prop on header
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

feat(Badge): changed alert state as error and added variants
  src/components/Badge/Badge.tsx
Due: yarn prettify, yarn lint:scripts

feat(Badge): added status specific styles
  src/components/Badge/Badge.module.scss
Due: yarn prettify, yarn lint:styles

feat(Badge): updated stories and test cases according to variants
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
Due: yarn prettify, yarn lint:scripts

add modal confirmation
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/ModalConfirmation.stories.tsx
  src/components/Modal/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix icon color
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

add all icons storybook
  src/components/Icons/story/Icons.stories.tsx
Due: yarn prettify, yarn lint:scripts

add folder for modalConfirmation
  src/components/Modal/Modal.module.scss
  src/components/Modal/ModalConfirmation/ModalConfirmation.module.scss
  src/components/Modal/ModalConfirmation/ModalConfirmation.stories.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
  src/components/Modal/ModalConfirmation/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(grid-card): flicker on load
  src/components/GridCard/GridCard.tsx
Due: yarn prettify, yarn lint:scripts

refactor(grid-card): clean up file
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/GridCard.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: resolve minor console errors
  .storybook/preview.js
Due: none

fix: resolve minor console errors (#96)
  .storybook/preview.js
Due: none
