Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat(avatar): apply transitions
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: apply transition to image and fallback
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(avatar): apply transitions to image and fallback (#206)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.10.3`) -> (`1.10.4`)
  package.json
Due: none

chore: bump version (`1.10.3`) -> (`1.10.4`) (#207)
  package.json
Due: none

feat(avatar): apply delay to fallback
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

feat(avatar): apply delay to fallback (#208)
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.10.4`) -> (`1.10.5`)
  package.json
Due: none

chore: bump version (`1.10.4`) -> (`1.10.5`) (#209)
  package.json
Due: none

refactor: minor change to avatar
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

refactor(alert): update success color
  src/components/Alert/Alert.module.scss
Due: yarn prettify, yarn lint:styles

refactor(alert): update success colour (#210)
  src/components/Alert/Alert.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: fade in transition of icons
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: reduce animation time
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

refactor: fade in transition of icons (#211)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.10.5`) -> (`1.10.6`)
  package.json
Due: none

chore: bump version (`1.10.5`) -> (`1.10.6`) (#212)
  package.json
Due: none

refactor(avatar): remove rendering fallback condition
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

refactor(avatar): remove rendering fallback condition (#213)
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.10.6`) -> (`1.10.7`)
  package.json
Due: none

chore: bump version (`1.10.6`) -> (`1.10.7`) (#214)
  package.json
Due: none

refactor(avatar): revert animation additions to avatar image
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: formatting scss file
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

refactor(avatar): revert animation additions to avatar image (#215)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.10.7`) -> (`1.10.8`)
  package.json
Due: none

chore: bump version (`1.10.7`) -> (`1.10.8`) (#216)
  package.json
Due: none

feat(avatar): apply timing logic to fallback delay and add fade in animations
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: remove unused props and relevant code
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: update fade in timing
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

refactor: update timing by .5s
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

feat(avatar): apply timing logic to fallback delay and add fade in animations (#217)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.10.8`) -> (`1.10.9`)
  package.json
Due: none

chore: bump version (`1.10.8`) -> (`1.10.9`) (#218)
  package.json
Due: none

feat(info-alert): update colour and background colour of info variant
  src/components/Alert/Alert.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat(info-alert): update colour and background colour of info variant (#219)
  src/components/Alert/Alert.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.10.9`) -> (`1.11.0`)
  package.json
Due: none

chore: bump version (`1.10.9`) -> (`1.11.0`) (#220)
  package.json
Due: none

feat: override glass background-image and mask for todesktop
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat: override glass background-image and mask for todesktop (#221)
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.11.0`) -> (`1.11.1`)
  package.json
Due: none
