Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

chore: bump version (`1.15.0`) -> (`1.16.0`)
  package.json
Due: none

chore: bump version (`1.15.0`) -> (`1.16.0`) (#242)
  package.json
Due: none

feat(lightbox): add copy image fallback handling for non-supported clipboard media types
  src/components/Lightbox/Lightbox.tsx
Due: yarn prettify, yarn lint:scripts

feat(lightbox): add copy image fallback handling for non-supported clipboard media types (#243)
  src/components/Lightbox/Lightbox.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.16.0`) -> (`1.17.0`)
  package.json
Due: none

chore: bump version (`1.16.0`) -> (`1.17.0`) (#244)
  package.json
Due: none

fix(lightbox): copy all image formats to png
  src/components/Lightbox/Lightbox.tsx
Due: yarn prettify, yarn lint:scripts

fix(lightbox): copy all image formats to png (#245)
  src/components/Lightbox/Lightbox.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.17.0`) -> (`1.18.0`)
  package.json
Due: none

chore: bump version (`1.17.0`) -> (`1.18.0`) (#246)
  package.json
Due: none

feat: X minutes/hours ago timestamp
  src/components/Post/Post.stories.tsx
  src/components/Post/components/Timestamp.tsx
Due: yarn prettify, yarn lint:scripts

feat: X minutes/hours ago timestamp (#247)
  src/components/Post/Post.stories.tsx
  src/components/Post/components/Timestamp.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump minor (`1.18.0` -> `1.19.0`)
  package.json
Due: none

chore: bump minor (`1.18.0` -> `1.19.0`) (#248)
  package.json
Due: none

feat: make icons easier to scan
  src/components/Icons/story/Icons.stories.tsx
  src/components/Icons/story/Icons.story.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add home icon
  src/components/Icons/icons/IconHome.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

chore: empty file
  src/components/Icons/story/Icons.stories.constants.ts
Due: yarn prettify, yarn lint:scripts

feat: add `IconSlashes`
  src/components/Icons/icons/IconSlashes.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat: add `IconHome` and `IconSlashes` (#249)
  src/components/Icons/icons/IconHome.tsx
  src/components/Icons/icons/IconSlashes.tsx
  src/components/Icons/index.ts
  src/components/Icons/story/Icons.stories.constants.ts
  src/components/Icons/story/Icons.stories.tsx
  src/components/Icons/story/Icons.story.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: remove `Markdown` from barrel export This is causing some issue with vitest. Long-term, we should look to replace the `Markdown` component
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

fix: remove `Markdown` from barrel export (#250)
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

chore: bump minor (`1.19.0` -> `1.20.0`)
  package.json
Due: none

chore: bump minor (`1.19.0` -> `1.20.0`) (#251)
  package.json
Due: none

feat: new `IconGlobe3`
  src/components/Icons/icons/IconGlobe3.tsx
Due: yarn prettify, yarn lint:scripts

feat: `IconFourDots`
  src/components/Icons/icons/IconFourDots.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat: `IconSliders3`
  src/components/Icons/icons/IconSliders3.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat: add icons required for App Bar (#252)
  src/components/Icons/icons/IconFourDots.tsx
  src/components/Icons/icons/IconGlobe3.tsx
  src/components/Icons/icons/IconSliders3.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

docs: mark `isFilled` as `deprecated`
  src/components/Icons/Icons.types.ts
Due: yarn prettify, yarn lint:scripts

docs: mark `isFilled` as `deprecated` (#253)
  src/components/Icons/Icons.types.ts
Due: yarn prettify, yarn lint:scripts

1.21.0
  package.json
Due: none

ESlint 9
  .eslintignore
  .eslintrc
  eslint.config.js
  package.json
  src/components/.storybook/.eslintrc.json
  src/components/AsyncTable/AsyncTable.tsx
  src/components/Badge/Badge.tsx
  src/components/Input/Input.tsx
  src/components/Input/NumberInput.tsx
  src/components/Lightbox/Lightbox.tsx
  src/components/Modal/CloseButton.test.tsx
  src/components/Search/Search.test.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/Skeleton/Skeleton.test.tsx
  src/components/Tabs/TabsNav.test.tsx
  src/components/ToggleGroup/ToggleGroup.stories.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/lib/hooks/useOnScreen.ts
Due: yarn prettify, yarn lint:scripts

es lint updates
  eslint.config.js
  package.json
Due: none

Update CI config with newer versions
  .circleci/config.yml
Due: none

Fix NFT button test being removed
  src/components/GridCard/templates/NFT.test.tsx
Due: yarn prettify, yarn lint:scripts

Fix test and any eslint rule
  eslint.config.js
  package.json
  src/components/GridCard/templates/NFT.test.tsx
  src/components/Lightbox/Lightbox.tsx
  src/components/ToggleGroup/ToggleGroup.test.tsx
  src/components/ToggleGroup/ToggleGroup.tsx
  src/lib/hooks/useOnScreen.ts
  src/types/remark-emoji.d.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts

Add back no-empty function rule
  eslint.config.js
  src/components/Modal/CloseButton.test.tsx
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts

Fix input stories
  package.json
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts

Remove log
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts

Fixed refocus stories
  src/components/Input/Input.stories.tsx
Due: yarn prettify, yarn lint:scripts
