Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

chore: bump version (`1.24.0`) -> (`1.25.0`) (#269)
  package.json
Due: none

feat: avatar classname
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

feat: avatar classname (#270)
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump minor (`1.25.0` -> `1.26.0`)
  package.json
Due: none

chore: bump minor (`1.25.0` -> `1.26.0`) (#271)
  package.json
Due: none

refactor: unnecessary element
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

refactor: unnecessary wrapper element in `Button` (#272)
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch (`1.26.0` -> `1.26.1`)
  package.json
Due: none

chore: bump patch (`1.26.0` -> `1.26.1`) (#273)
  package.json
Due: none

feat: icon button `HTMLButtonElement` props Currently can't set `aria-label`, etc.
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

feat: icon button `HTMLButtonElement` props (#274)
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

ci: add version increment workflow
  .github/workflows/version-increment.yml
Due: none

ci: add version increment workflow (#275)
  .github/workflows/version-increment.yml
Due: none

ci: `main` -> `master`
  .github/workflows/version-increment.yml
Due: none

ci: `main` -> `master` (#276)
  .github/workflows/version-increment.yml
Due: none

chore: bump minor (`1.26.1` -> `1.27.0`)
  package.json
Due: none

Remove the fade in effect on Avatar
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

Remove the fade in effect on Avatar (#278)
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump patch (`1.27.0` -> `1.27.1`)
  package.json
Due: none

Replace radix avatar with html components
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Replace radix avatar with html components (#280)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (`1.27.1` -> `1.28.0`)
  package.json
Due: none

Fix image fallback staying around after image url is updated
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Fix image fallback staying around after image url is updated (#282)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump patch (`1.28.0` -> `1.28.1`)
  package.json
Due: none
