Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

refactor: remove unsed mock
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
Due: yarn prettify, yarn lint:scripts

refactor: set width to fit content
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

feat: add variations to button component and update classnames/styles (#188)
  src/components/Button/Button.scss
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
  src/components/ToastNotification/ToastNotification.tsx
  src/components/Wizard/Presets/Buttons.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.9.4`) -> (`1.9.5`)
  package.json
Due: none

chore: bump version (`1.9.4`) -> (`1.9.5`) (#189)
  package.json
Due: none

feat: export * from button component
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

feat: export * from button component (#190)
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.9.5`) -> (`1.9.6`)
  package.json
Due: none

chore: bump version (`1.9.5`) -> (`1.9.6`) (#191)
  package.json
Due: none

refactor: remove backdrop filter from disabled button state
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

refactor: remove backdrop filter from disabled button state (#192)
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.9.6`) -> (`1.9.7`)
  package.json
Due: none

chore: bump version (`1.9.6`) -> (`1.9.7`) (#193)
  package.json
Due: none

feat: input components to directly forward ref to input element
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/NumberInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/SearchInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts

refactor: remove comment
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: input components to directly forward ref to input element (#194)
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/NumberInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/SearchInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.9.7`) -> (`1.9.8`)
  package.json
Due: none

chore: bump version (`1.9.7`) -> (`1.9.8`) (#195)
  package.json
Due: none

refactor: remove unused input ref from input
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts

refactor: remove unused input ref from input (#196)
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.9.8`) -> (`1.9.9`)
  package.json
Due: none

chore: bump version (`1.9.8`) -> (`1.9.9`) (#197)
  package.json
Due: none

feat(avatar): handle group default and remove delay
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: lint
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts

fix: remove duplicate selector
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

feat(avatar): handle group default and remove delay (#198)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
  src/components/Input/Input.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.9.9`) -> (`1.10.0`)
  package.json
Due: none

chore: bump version (`1.9.9`) -> (`1.10.0`) (#199)
  package.json
Due: none

feat(alert): remove background colour
  src/components/Alert/Alert.module.scss
Due: yarn prettify, yarn lint:styles

feat(alert): remove background colour (#200)
  src/components/Alert/Alert.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.10.0`) -> (`1.10.1`)
  package.json
Due: none

chore: bump version (`1.10.0`) -> (`1.10.1`) (#201)
  package.json
Due: none

feat(alert): apply isFilled prop to improve handling of background colour
  src/components/Alert/Alert.module.scss
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(alert): apply isFilled prop to improve handling of background colour (#202)
  src/components/Alert/Alert.module.scss
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.10.1`) -> (`1.10.2`)
  package.json
Due: none

chore: bump version (`1.10.1`) -> (`1.10.2`) (#203)
  package.json
Due: none

refactor: add isFilled flag to inputs
  src/components/Input/Input.tsx
  src/components/Markdown/MarkdownEditor/MarkdownEditor.tsx
Due: yarn prettify, yarn lint:scripts

refactor: add isFilled flag to inputs (#204)
  src/components/Input/Input.tsx
  src/components/Markdown/MarkdownEditor/MarkdownEditor.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.10.2`) -> (`1.10.3`)
  package.json
Due: none

chore: bump version (`1.10.2`) -> (`1.10.3`) (#205)
  package.json
Due: none
