Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat: input tweaks (#115)
  src/components/Input/Input.module.scss
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (0.21.2 -> 0.21.3)
  package.json
Due: none

refactor: remove functional component from toast notification
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

refactor: define defaults in prop destructuring
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

feat: add toast notification component (#116)
  package.json
  src/components/ToastNotification/ToastNotification.module.scss
  src/components/ToastNotification/ToastNotification.stories.tsx
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
  src/components/ToastNotification/index.ts
  src/components/index.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.21.2`) -> (`0.22.0`)
  package.json
Due: none

chore: bump version (`0.21.2`) -> (`0.22.0`) (#117)
  package.json
Due: none

feat(icon-button): add `type` prop So we can specify if a button is a submit, or just a normal button Without this, `IconButton` is effectively unusable in `<form>` elements
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

feat(password-input): set `IconButton` to `type="button"` Prevents the show/hide button being pressed on enter, rather than the login form button
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat(icon-button): remove unnecessary `FC` typing
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

lint(icon-button): remove unused import
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

refactor(icon-button): code style Organise imports, alphabetise props, arrow function click handler
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

refactor(password-input): code style Rearrange imports, sort props, arrow function handler
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

test(password-input): reorganise existing suite
  src/components/Input/PasswordInput.test.tsx
Due: yarn prettify, yarn lint:scripts

test(password-input): add test for `IconButton` type
  src/components/Input/PasswordInput.test.tsx
Due: yarn prettify, yarn lint:scripts

test(icon-button): add test for `type` prop Default value, plus assignment
  src/components/IconButton/IconButton.test.tsx
Due: yarn prettify, yarn lint:scripts

test(icon-button): shorten import
  src/components/IconButton/IconButton.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(modal): 70% overlay opacity
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

feat(modal): add 5px backdrop blur to overlay
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

feat(modal): higher background opacity on older browsers If blur doesn't work, background needs to be more obscured
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

feat: modal background opacity + blur (#119)
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

fix: `PasswordInput` should not fire `onSubmit` of containing `form` (#118)
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Input/PasswordInput.test.tsx
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

refactor: code style
  .storybook/theme.js
  src/components/Tabs/Tabs.module.scss
  src/components/Tabs/TabsNav.test.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add ReactNode type to button children prop
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

fix: Remove global reset of buttons
  src/components/ToastNotification/ToastNotification.module.scss
Due: yarn prettify, yarn lint:styles

Fix the close button
  src/components/ToastNotification/ToastNotification.module.scss
Due: yarn prettify, yarn lint:styles

Lint
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

fix: Remove global reset of buttons (#122)
  src/components/ToastNotification/ToastNotification.module.scss
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (0.22.0) -> (0.22.1)
  package.json
Due: none

feat: add ReactNode type to button children prop (#121)
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`0.22.1`) -> (`0.22.2`)
  package.json
Due: none

test(tabs-nav): improve coverage (#120)
  src/components/Tabs/TabsNav.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(button): add `endEnhancer` and `startEnhancer`
  src/components/Button/Button.scss
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

story(button): add `endEnhancer` and `startEnhancer` story
  src/components/Button/Button.stories.tsx
Due: yarn prettify, yarn lint:scripts

test(button): test `endEnhancer` and `startEnhancer`
  src/components/Button/Button.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(button): add enhancers (#123)
  src/components/Button/Button.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor 0.22.2 -> 0.23.0
  package.json
Due: none

chore: bump minor 0.22.2 -> 0.23.0 (#124)
  package.json
Due: none

build: configure Rollup Not quite happy with everything yet, still need to do a bit of polishing/testing
  package.json
  src/components/Icons/story/Icons.stories.constants.ts
  src/index.ts
  src/lib/hooks/index.ts
  src/lib/index.ts
  tsconfig.json
  yarn.lock
Due: yarn prettify, yarn lint:scripts

build: missed Rollup config file
  rollup.config.cjs
Due: none
