Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat: remove avatar status border and update position (#159)
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

feat: update extra small avatar
  src/components/Avatar/Avatar.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat: update small and medium size styles
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

feat: update avatar styles (redesign) (#160)
  src/components/Avatar/Avatar.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

chore: bump version `(1.00)` -> `(1.1.0)`
  package.json
Due: none

feat: add raised class for badge and avatar
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: remove raised badge style on avatar
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: revert removal of whitespace
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

feat: dropdown styles redesign
  src/components/DropdownMenu/DropdownMenu.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat: add raised class for avatar (#161)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: dropdown styles redesign (#162)
  src/components/DropdownMenu/DropdownMenu.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

chore: bump version `(1.1.0)` -> `(1.2.0)`
  package.json
Due: none

feat: apply spacing styles to dropdown menu items
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: apply spacing styles to dropdown menu items (#163)
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump zui version `(1.2.0)` -> `(1.3.0)`
  package.json
Due: none

feat: add ellipsis to dropdown menu items
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: revert ellipsis to handle in zOS
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add min width and max width to dropdown menu (#164)
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

chore: bump version `(1.3.0)` -> `(1.4.0)`
  package.json
Due: none

update sizes
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

change default color of icon button
  src/components/IconButton/IconButton.scss
Due: yarn prettify, yarn lint:styles

import theme
  src/components/IconButton/IconButton.scss
Due: yarn prettify, yarn lint:styles

feat: implement modal glass redesign updates
  src/components/Modal/Modal.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat: use inner and outer styles for border
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: update modal tests to reflect changes
  src/components/Modal/Modal.test.tsx
Due: yarn prettify, yarn lint:scripts

refactor: update comments
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

feat: implement modal glass redesign updates (#167)
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.4.0`) -> (`1.5.0`)
  package.json
Due: none

feat(modal): remove min width
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

feat(modal): remove min width (#168)
  src/components/Modal/Modal.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.5.0`) -> (`1.6.0`)
  package.json
Due: none

feat: remove stroke width from info circle icon
  src/components/Icons/icons/IconInfoCircle.tsx
Due: yarn prettify, yarn lint:scripts

feat: remove stroke width from info circle icon (#169)
  src/components/Icons/icons/IconInfoCircle.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.6.0`) -> (`1.7.0`)
  package.json
Due: none

add css
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.test.tsx
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

pass menuItemClass
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts

bump version `1.7.0` -> `1.7.1`
  package.json
Due: none

Pin remark-emoji
  package.json
  yarn.lock
Due: none

Pin remark-emoji (#172)
  package.json
  yarn.lock
Due: none

chore: bump version (`1.7.1`) -> (`1.8.0`)
  package.json
Due: none
