Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat: change button text to capitalize
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

fix: size the alert with border-box
  src/components/Alert/Alert.module.scss
Due: yarn prettify, yarn lint:styles

fix: prevent password input from submitting forms (#103)
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: Allow buttons to be typed as "submit" (#104)
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

feat: change button text to capitalize (#105)
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

fix: size the alert with border-box (#106)
  src/components/Alert/Alert.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump minor (0.19.0) -> (0.20.0)
  package.json
Due: none

fix: table header and cell alignments
  src/components/Table/Column.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: table header and cell alignments (#107)
  src/components/Table/Column.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.20.0`) -> (`0.20.1`)
  package.json
Due: none

chore: bump version (`0.20.0`) -> (`0.20.1`) (#108)
  package.json
Due: none

fix: Use the disabled attribute for Button rather than our own handling
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

fix: Use the disabled attribute for Button rather than our own handling (#109)
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch (0.20.1) -> (0.20.2)
  package.json
Due: none

fix: Update sizing of input helper text
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

fix: Update sizing of input helper text (#110)
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

feat: add video component with custom controls
  src/components/Video/Video.module.scss
  src/components/Video/Video.stories.tsx
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add video tests
  src/components/Video/Video.test.tsx
  src/components/Video/Video.tsx
  src/components/Video/index.ts
Due: yarn prettify, yarn lint:scripts

fix: switch mute/unmute icons to be correctly displayed
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts

refactor: tidy up style
  src/components/Video/Video.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat: video component (#111)
  src/components/Video/Video.module.scss
  src/components/Video/Video.stories.tsx
  src/components/Video/Video.test.tsx
  src/components/Video/Video.tsx
  src/components/Video/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.20.2`) -> (`0.21.0`)
  package.json
Due: none

chore: bump version (`0.20.2`) -> (`0.21.0`) (#112)
  package.json
Due: none

fix: video container styles
  src/components/Video/Video.module.scss
  src/components/Video/Video.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump zui version (`0.21.0`) -> (`0.21.1`)
  package.json
Due: none

refactor: video component props
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts

feat: click anywhere in the container to play/pause and set default muted
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts

feat: update tests
  src/components/Video/Video.test.tsx
Due: yarn prettify, yarn lint:scripts

fix: video container styles (#113)
  package.json
  src/components/Video/Video.module.scss
  src/components/Video/Video.test.tsx
  src/components/Video/Video.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: custom controls positioning and type
  src/components/Video/Video.module.scss
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: border radius
  src/components/Video/Video.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump zui version (`0.21.1`) -> (`0.21.2`)
  package.json
Due: none

fix: border-radius to inherit from parent
  src/components/Video/Video.module.scss
Due: yarn prettify, yarn lint:styles

fix: video custom controls browser size positioning (#114)
  package.json
  src/components/Video/Video.module.scss
  src/components/Video/Video.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(input): toggle eye icon on show/hide
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

refactor(password-input): clearer state var naming
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

refactor(password-input): use `IconButton`
  src/components/Input/Input.module.scss
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(input): keep normal background on autofill
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

feat: add toast notification component, styles, story and tests
  package.json
  src/components/ToastNotification/ToastNotification.module.scss
  src/components/ToastNotification/ToastNotification.stories.tsx
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
  src/components/ToastNotification/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: yarn install
  yarn.lock
Due: none
