Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: remove focus and rename prop
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: implement 'isActive' state in avatar component (#131)
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (0.24.2 -> 0.24.3)
  package.json
Due: none

add icon
  src/components/Icons/icons/IconCollapse1.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

prettier
  src/components/Input/SearchInput.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (0.24.3 -> 0.24.4)
  package.json
Due: none

feat: add radix arrow pointer to dropdown menu
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add dropdown menu arrow pointer tests
  src/components/DropdownMenu/DropdownMenu.test.tsx
Due: yarn prettify, yarn lint:scripts

refactor: remove default showPointer true
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

feat: add additional story with pointer
  src/components/DropdownMenu/DropdownMenu.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat: center dropdown menu in story for better visual
  src/components/DropdownMenu/DropdownMenu.stories.tsx
Due: yarn prettify, yarn lint:scripts

refactor: rename pointer uses to arrow
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

refactor: update class name in scss file
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

feat: add radix dropdown menu arrow pointer (#133)
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.24.4`) -> (`0.25.0`)
  package.json
Due: none

fix: negative button active state color
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

fix: negative button active state color (#134)
  src/components/Button/Button.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`0.25.0`) -> (`0.25.1`)
  package.json
Due: none

chore: `@storybook/preset-scss`
  package.json
Due: none

chore: `@storybook/preset-scss` (#135)
  package.json
Due: none

feat: add tab index prop to avatar component
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

feat: add tab index prop to avatar component (#136)
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`0.25.1`) -> (`0.25.2`)
  package.json
Due: none

Update AlertCircle icon
  src/components/Icons/icons/IconAlertCircle.tsx
Due: yarn prettify, yarn lint:scripts

Update AlertCircle icon (#137)
  src/components/Icons/icons/IconAlertCircle.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (0.25.2) -> (0.25.3)
  package.json
Due: none

feat(close-button): add component
  package.json
  src/components/Modal/CloseButton.test.tsx
  src/components/Modal/CloseButton.tsx
  src/components/Modal/index.ts
Due: yarn prettify, yarn lint:scripts

feat(close-button): add component (#138)
  package.json
  src/components/Modal/CloseButton.test.tsx
  src/components/Modal/CloseButton.tsx
  src/components/Modal/index.ts
Due: yarn prettify, yarn lint:scripts

chore: bump minor (0.25.3 -> 0.26.0)
  package.json
Due: none

chore: bump minor (0.25.3 -> 0.26.0) (#139)
  package.json
Due: none

fix: icon button sizing and icon sizing to match
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: icon button sizing and icon sizing to match (#140)
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.26.0`) -> (`0.26.1`)
  package.json
Due: none

chore: bump version (`0.26.0`) -> (`0.26.1`) (#141)
  package.json
Due: none

feat: use correct info alert icon
  src/components/Alert/Alert.tsx
Due: yarn prettify, yarn lint:scripts

feat: update `IconInfoCircle` per Figma
  src/components/Icons/icons/IconInfoCircle.tsx
Due: yarn prettify, yarn lint:scripts

test(alert): info icon
  src/components/Alert/Alert.test.tsx
Due: yarn prettify, yarn lint:scripts

make action title configurable
  src/components/ToastNotification/ToastNotification.module.scss
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version () -> ()
  package.json
Due: none

feat: add viewportClassName to toast viewport
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

Path conditions:
  yarn prettify: (any of: *.{ts,tsx}) or (any of: *.scss)
  yarn lint:scripts: any of: *.{ts,tsx}
  yarn lint:styles: any of: *.scss
