Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat: add scrollbar mixin and demo for storybook
  src/components/ScrollbarDemo/ScrollbarDemo.scss
  src/components/ScrollbarDemo/ScrollbarDemo.stories.tsx
  src/components/ScrollbarDemo/ScrollbarDemo.tsx
  src/components/ScrollbarDemo/index.ts
  src/styles/_scrollbar.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: update scrollbar colour
  src/styles/_scrollbar.scss
Due: yarn prettify, yarn lint:styles

feat: add scrollbar container
  src/components/ScrollbarContainer/ScrollbarContainer.scss
  src/components/ScrollbarContainer/ScrollbarContainer.stories.tsx
  src/components/ScrollbarContainer/ScrollbarContainer.tsx
  src/components/ScrollbarContainer/index.ts
  src/components/ScrollbarDemo/ScrollbarDemo.scss
  src/components/ScrollbarDemo/ScrollbarDemo.stories.tsx
  src/components/ScrollbarDemo/ScrollbarDemo.tsx
  src/components/ScrollbarDemo/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: adjust scrollbar container story width
  src/components/ScrollbarContainer/ScrollbarContainer.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat: add test coverage to scrollbar container
  src/components/ScrollbarContainer/ScrollbarContainer.test.tsx
  src/components/ScrollbarContainer/ScrollbarContainer.tsx
Due: yarn prettify, yarn lint:scripts

feat: add faded panel to scrollbar container and refactor original code
  src/components/ScrollbarContainer/ScrollbarContainer.scss
  src/components/ScrollbarContainer/ScrollbarContainer.test.tsx
  src/components/ScrollbarContainer/ScrollbarContainer.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(search-input): add component
  src/components/Input/Input.stories.tsx
  src/components/Input/SearchInput.module.scss
  src/components/Input/SearchInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

test(search-input): value and onChange passed to Input This is the most critical functionality
  src/components/Input/SearchInput.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(search-input): add component (#127)
  src/components/Input/Input.stories.tsx
  src/components/Input/SearchInput.module.scss
  src/components/Input/SearchInput.test.tsx
  src/components/Input/SearchInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (0.23.0 -> 0.24.0)
  package.json
Due: none

feat: update accordion low contract styles
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat: update some fonts as per design
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat: fill chevron icon
  src/components/Accordion/Accordion.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): update low contrast styles (#128)
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (`0.24.0` -> `0.24.1`)
  package.json
Due: none

fix(accordion): hover and active state colours
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

fix(accordion): hover and active state colours (#129)
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`0.24.1` -> `0.24.2`)
  package.json
Due: none

build: copy styles
  package.json
  rollup.config.cjs
  yarn.lock
Due: none

Button works aside from styles?
  .gitignore
  package.json
  rebuild.sh
  rollup.config.cjs
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
  src/components/ToastNotification/ToastNotification.tsx
  src/components/Wizard/Presets/Buttons.tsx
  src/components/index.ts
  src/index.ts
Due: yarn prettify, yarn lint:scripts

Move inputs to rollup build
  rebuild.sh
  src/components/Input/NumberInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/RawInput.tsx
  src/components/Input/index.tsx
  src/components/Search/Search.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/index.ts
  src/index.ts
Due: yarn prettify, yarn lint:scripts

Move everything else used by zOS
  rebuild.sh
  src/components/Address/Address.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
  src/components/ToastNotification/ToastNotification.tsx
  src/components/index.ts
  src/index.ts
Due: yarn prettify, yarn lint:scripts

Build a components.js file instead
  rebuild.sh
  rollup.config.cjs
  src/components/index.ts
  src/index.ts
Due: yarn prettify, yarn lint:scripts

Rollup the types
  package.json
  rebuild.sh
  rollup.config.cjs
  yarn.lock
Due: none

Build incremental (#130)
  .gitignore
  package.json
  rebuild.sh
  rollup.config.cjs
  src/components/Address/Address.tsx
  src/components/Input/NumberInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/RawInput.tsx
  src/components/Input/index.tsx
  src/components/Search/Search.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/Wizard/Presets/Buttons.tsx
  src/components/index.ts
  src/index.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts

feat: rollup icons
  rebuild.sh
  rollup.config.cjs
  src/components/Address/Address.tsx
  src/components/Search/Search.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/Wizard/Presets/Buttons.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

refactor: clean up config file
  rollup.config.cjs
Due: none

refactor: remove step of build script
  rebuild.sh
Due: none

build: rollup other folders
  rebuild.sh
  rollup.config.cjs
Due: none

build: change capitalisation in script
  rollup.config.cjs
Due: none

build: add style copy step
  rollup.config.cjs
Due: none

build: copy package.json
  rollup.config.cjs
Due: none

build: rearrange icon rollup
  rollup.config.cjs
Due: none

build: add rollup-plugin-delete
  package.json
  yarn.lock
Due: none

build: delete folders
  rollup.config.cjs
Due: none

build: clean-up code
  rollup.config.cjs
Due: none

Build to specific version
  tsconfig.json
Due: none

feat: avatar active state
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: set outline to none on dropdown trigger
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

feat: add additional tests to cover isActive class
  src/components/Avatar/Avatar.test.tsx
Due: yarn prettify, yarn lint:scripts
