Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

Added radix slider
  package.json
Due: none

Updated imports on files after file structure change
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/StandardSlider/StandardSlider.module.scss
  src/components/Slider/StandardSlider/StandardSlider.stories.tsx
  src/components/Slider/StandardSlider/StandardSlider.tsx
  src/components/Slider/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added basic tests for slider components
  src/components/Slider/RangeSlider/RangeSlider.test.tsx
  src/components/Slider/StandardSlider/StandardSlider.test.tsx
Due: yarn prettify, yarn lint:scripts

Added light mode versions of sliders
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/StandardSlider/StandardSlider.module.scss
  src/components/Slider/StandardSlider/StandardSlider.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: styling changes following review
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(checkbox): min UI fixes like cursor icon checkbox width
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(checkbox): hover state cursor pointer fix
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

Removed comments and all classnames now Pascal case
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

Renders component in each test and have appropriate test names
  src/components/Slider/RangeSlider/RangeSlider.test.tsx
  src/components/Slider/StandardSlider/StandardSlider.test.tsx
Due: yarn prettify, yarn lint:scripts

Changed filed to Slider.module and moved to root
  src/components/Slider/StandardSlider/StandardSlider.module.scss
Due: yarn prettify, yarn lint:styles

Removed comments and used cx to handle conditional styling. Simplified values logic.
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/StandardSlider/StandardSlider.tsx
Due: yarn prettify, yarn lint:scripts

fix: remove loading header placeholders (#74)
  src/components/AsyncTable/Placeholder.tsx
  src/components/AsyncTable/Table.tsx
Due: yarn prettify, yarn lint:scripts

Ran prettier and removed unecessary variables
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/StandardSlider/StandardSlider.tsx
Due: yarn prettify, yarn lint:scripts

Prettier changes and updated classnames to match css
  src/components/Slider/RangeSlider/RangeSlider.test.tsx
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/StandardSlider/StandardSlider.test.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added different versions of each story
  src/components/Slider/RangeSlider/RangeSlider.stories.tsx
  src/components/Slider/StandardSlider/StandardSlider.stories.tsx
Due: yarn prettify, yarn lint:scripts

Removed contrast background for lightmode and fixed thumb style name
  src/components/Slider/RangeSlider/RangeSlider.stories.tsx
  src/components/Slider/StandardSlider/StandardSlider.stories.tsx
  src/components/Slider/StandardSlider/StandardSlider.tsx
Due: yarn prettify, yarn lint:scripts

fix(checkbox): implemented the code review changes
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): updated the class name for light background
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): only link style update
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

fix(checkbox): updated the class in scss
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

text color in lightmode now black and changed display for values to flex for storybook
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/StandardSlider/StandardSlider.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added focus state
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

Updated focus state ring colour
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

feat: further styling changes following second review
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: further adjustments following review
  src/components/Input/Input.tsx
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: extra styling tweaks
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.stories.tsx
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added and used colours from variable file
  src/components/Slider/Slider.module.scss
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:styles

feat: nested scss classes
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

Nested all styling
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

Changed black to use the colours variable for consistency
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

Merged two slider components into a single that can handle both
  src/components/Slider/RangeSlider/RangeSlider.stories.tsx
  src/components/Slider/RangeSlider/RangeSlider.test.tsx
  src/components/Slider/RangeSlider/RangeSlider.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/StandardSlider/StandardSlider.stories.tsx
  src/components/Slider/StandardSlider/StandardSlider.tsx
  src/components/Slider/index.ts
Due: yarn prettify, yarn lint:scripts

Updated classes and made it so values from slider are available in parent component
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: increment patch "0.11.5" -> "0.11.6"
  package.json
Due: none

chore: increment patch "0.11.5" -> "0.11.6" (#76)
  package.json
Due: none

removed light theme and changed size logic
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): removed the checkbox icon
  src/components/Icons/Icons.constants.ts
  src/components/Icons/Icons.types.ts
  src/components/Icons/icons/IconCheckBoxCheck.tsx
Due: yarn prettify, yarn lint:scripts

feat(checkbox): updated the checkbox styles
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

feat(checkbox): updated the checkbox components as per code review
  src/components/Checkbox/Checkbox.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat(checkbox): removed the light theme story and updated the test cases
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(checkobox): variable name update in scss
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles
