Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): added keypress and mouse events to trigger the focus state only on keypress
  src/components/Accordion/Accordion.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): updated the focus state styles and padding for content
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat(avatar): added radix avatar package
  package.json
  yarn.lock
Due: none

feat(avatar): created avatar component
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarIconSize.constants.ts
  src/components/Avatar/index.tsx
Due: yarn prettify, yarn lint:scripts

feat(avatar): styling for avatar component
  src/components/Avatar/Avatar.module.scss
  src/components/index.ts
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(avatar): created test cases for avatar component
  src/components/Avatar/Avatar.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(avatar): added avatar related stories
  src/components/Avatar/Avatar.stories.tsx
Due: yarn prettify, yarn lint:scripts

Update the classnames module and fix errors
  package.json
  src/components/Address/Address.tsx
  src/components/AsyncTable/Column.tsx
  src/components/Markdown/MarkdownViewer/MarkdownViewer.tsx
  src/components/MediaInput/MediaInput.tsx
  src/components/Member/Member.tsx
  src/components/StepBar/StepBar.tsx
  src/components/Wizard/Presets/Confirmation.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts

feat(accordin): implemented the tech review changes
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(avatar): updated the test cases
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Status/Status.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

docs: add PR template
  .github/pull_request_template.md
Due: none

feat: add randomUUID util and use for table keys
  src/components/AsyncTable/Placeholder.tsx
  src/utils/index.ts
  src/utils/number/index.ts
  src/utils/number/random.ts
Due: yarn prettify, yarn lint:scripts

Restore classNames usage
  src/components/Address/Address.tsx
  src/components/Markdown/MarkdownViewer/MarkdownViewer.tsx
  src/components/Member/Member.tsx
  src/components/StepBar/StepBar.tsx
  src/components/Wizard/Presets/Confirmation.tsx
Due: yarn prettify, yarn lint:scripts

Add IconButton component
  jest.setup.ts
  package.json
  src/components/.storybook/StoryCard/story-card.scss
  src/components/IconButton/IconButton.module.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/index.ts
  src/components/index.ts
  src/styles/_theme.scss
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Use classNames
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

Switch test to RTL
  jest.setup.ts
  package.json
  src/components/IconButton/IconButton.test.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts

Switch to function component
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

feat(avatar): updated and added new test cases
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
Due: yarn prettify, yarn lint:scripts

feat(avatar): avatar component (#82)
  package.json
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarIconSize.constants.ts
  src/components/Avatar/index.tsx
  src/components/Status/Status.tsx
  src/components/index.ts
  src/styles/_colors.scss
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): accordion component (#79)
  package.json
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/index.tsx
  src/components/index.ts
  src/styles/_colors.scss
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(Dropdown): Unify stories in one file
  src/components/DropdownMenu/DropdownHeader.stories.tsx
  src/components/DropdownMenu/DropdownMenu.stories.tsx
Due: yarn prettify, yarn lint:scripts

fix(Dropdown): delete #{} in scss file
  src/components/DropdownMenu/DropdownMenu.scss
Due: yarn prettify, yarn lint:styles

fix(Dropdown): unify components in one file
  src/components/DropdownHeader/DropdownHeader.scss
  src/components/DropdownHeader/DropdownHeader.stories.tsx
  src/components/DropdownHeader/DropdownHeader.test.tsx
  src/components/DropdownHeader/DropdownHeader.tsx
  src/components/DropdownHeader/index.ts
  src/components/DropdownMenu/DropdownHeader.stories.tsx
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(Dropdown): Delete extra space and content in header test and style
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.test.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(Dropdown): delete extra content on header component
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

feat(Dropdown): add new color
  src/components/DropdownMenu/DropdownMenu.scss
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:styles

feat(DropdownHeader): create DropdownHeader component
  src/components/DropdownHeader/DropdownHeader.scss
  src/components/DropdownHeader/DropdownHeader.stories.tsx
  src/components/DropdownHeader/DropdownHeader.test.tsx
  src/components/DropdownHeader/DropdownHeader.tsx
  src/components/DropdownHeader/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(DropdownMenu): add children support
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

feat(colors): add new color
  src/components/DropdownMenu/DropdownMenu.scss
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:styles

fix(dropdown): change component header
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenu.stories.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: revert additions in favour of index key
  src/components/AsyncTable/Placeholder.tsx
  src/utils/index.ts
  src/utils/number/index.ts
  src/utils/number/random.ts
Due: yarn prettify, yarn lint:scripts

feat: add missing keys to placeholder elements
  src/components/AsyncTable/GridPlaceholders.stories.tsx
  src/components/AsyncTable/Placeholder.tsx
  src/components/AsyncTable/RowPlaceholders.stories.tsx
Due: yarn prettify, yarn lint:scripts

fix(dropdown): pass header as property
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

fix(dropdown): change header comment
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

chore: Update the classnames module and fix errors (#84)
  jest.setup.ts
  package.json
  src/components/.storybook/StoryCard/story-card.scss
  src/components/Address/Address.tsx
  src/components/AsyncTable/Column.tsx
  src/components/IconButton/IconButton.module.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/index.ts
  src/components/Markdown/MarkdownViewer/MarkdownViewer.tsx
  src/components/MediaInput/MediaInput.tsx
  src/components/Member/Member.tsx
  src/components/StepBar/StepBar.tsx
  src/components/Wizard/Presets/Confirmation.tsx
  src/components/index.ts
  src/styles/_theme.scss
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(table): add modular table components
  src/components/Table/Column.test.tsx
  src/components/Table/Column.tsx
  src/components/Table/Controls.module.scss
  src/components/Table/Controls.test.tsx
  src/components/Table/Controls.tsx
  src/components/Table/Grid.module.scss
  src/components/Table/Grid.test.tsx
  src/components/Table/Grid.tsx
  src/components/Table/Message.module.scss
  src/components/Table/Message.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/Table/alignments.module.scss
  src/components/Table/index.ts
  src/components/ToggleGroup/ToggleGroup.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

lint: fix warnings
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Table/Table.tsx
Due: yarn prettify, yarn lint:scripts

refactor: review items
  src/components/Table/Controls.module.scss
  src/components/Table/Controls.test.tsx
  src/components/Table/Controls.tsx
  src/components/Table/Message.tsx
  src/components/Table/Table.module.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(table): add modular table components (#87)
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Table/Column.test.tsx
  src/components/Table/Column.tsx
  src/components/Table/Controls.module.scss
  src/components/Table/Controls.test.tsx
  src/components/Table/Controls.tsx
  src/components/Table/Grid.module.scss
  src/components/Table/Grid.test.tsx
  src/components/Table/Grid.tsx
  src/components/Table/Message.module.scss
  src/components/Table/Message.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/Table/alignments.module.scss
  src/components/Table/index.ts
  src/components/ToggleGroup/ToggleGroup.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Fix CSS lint errors
  src/components/Accordion/Accordion.module.scss
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

Path conditions:
  yarn prettify: (any of: *.{ts,tsx}) or (any of: *.scss)
  yarn lint:scripts: any of: *.{ts,tsx}
  yarn lint:styles: any of: *.scss
