Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.11.0`) -> (`1.11.1`) (#222)
  package.json
Due: none

feat(modal): remove gradient border
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: remove border settings
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(modal): remove gradient border (#223)
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.11.1`) -> (`1.11.2`)
  package.json
Due: none

chore: bump version (`1.11.1`) -> (`1.11.2`) (#224)
  package.json
Due: none

feat(select-input): border and inset redesign
  src/components/Input/Input.module.scss
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

feat(select-input): border and inset redesign (#225)
  src/components/Input/Input.module.scss
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump version (`1.11.2`) -> (`1.11.3`)
  package.json
Due: none

chore: bump version (`1.11.2`) -> (`1.11.3`) (#226)
  package.json
Due: none

feat(icons): add double check icon
  src/components/Icons/icons/IconCheckDouble.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat(icons): add double check icon (#227)
  src/components/Icons/icons/IconCheckDouble.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.11.3`) -> (`1.11.4`)
  package.json
Due: none

chore: bump version (`1.11.3`) -> (`1.11.4`) (#228)
  package.json
Due: none

refactor: remove broken check double icon
  src/components/Icons/icons/IconCheckDouble.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

refactor: remove broken check double icon (#229)
  src/components/Icons/icons/IconCheckDouble.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.11.4`) -> (`1.11.5`)
  package.json
Due: none

chore: bump version (`1.11.4`) -> (`1.11.5`) (#230)
  package.json
Due: none

feat: add `Post` components
  src/components/Post/Post.stories.tsx
  src/components/Post/Post.tsx
  src/components/Post/components/Action.tsx
  src/components/Post/components/Actions.tsx
  src/components/Post/components/Body.tsx
  src/components/Post/components/Container.tsx
  src/components/Post/components/Details.tsx
  src/components/Post/components/Header.tsx
  src/components/Post/components/Name.tsx
  src/components/Post/components/Options.tsx
  src/components/Post/components/Timestamp.tsx
  src/components/Post/components/index.ts
  src/components/Post/components/styles.module.scss
  src/components/Post/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add `Post` components (#231)
  src/components/Post/Post.stories.tsx
  src/components/Post/Post.tsx
  src/components/Post/components/Action.tsx
  src/components/Post/components/Actions.tsx
  src/components/Post/components/Body.tsx
  src/components/Post/components/Container.tsx
  src/components/Post/components/Details.tsx
  src/components/Post/components/Header.tsx
  src/components/Post/components/Name.tsx
  src/components/Post/components/Options.tsx
  src/components/Post/components/Timestamp.tsx
  src/components/Post/components/index.ts
  src/components/Post/components/styles.module.scss
  src/components/Post/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor `1.11.5` -> `1.12.0`
  package.json
Due: none

chore: bump minor `1.11.5` -> `1.12.0` (#232)
  package.json
Due: none

feat: add menuWidth for dropdown menu/select input
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: add menuWidth for dropdown menu/select input (#233)
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/SelectInput/SelectInput.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`1.12.0`) -> (`1.13.0`)
  package.json
Due: none

chore: bump version (`1.12.0`) -> (`1.13.0`) (#234)
  package.json
Due: none

fix: pass classname to container
  src/components/Post/Post.tsx
Due: yarn prettify, yarn lint:scripts

fix: pass classname to container (#235)
  src/components/Post/Post.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch `0.13.0` -> `0.13.1`
  package.json
Due: none

chore: bump patch `0.13.0` -> `0.13.1` (#236)
  package.json
Due: none

feat: less padding between post items
  src/components/Post/components/styles.module.scss
Due: yarn prettify, yarn lint:styles

feat: less padding between post items (#237)
  src/components/Post/components/styles.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump minor `1.13.1` -> `1.14.0`
  package.json
Due: none

chore: bump minor `1.13.1` -> `1.14.0` (#238)
  package.json
Due: none

feat(lightbox): add lightbox component and escape manager
  package.json
  src/components/Lightbox/Lightbox.module.scss
  src/components/Lightbox/Lightbox.stories.tsx
  src/components/Lightbox/Lightbox.test.tsx
  src/components/Lightbox/Lightbox.tsx
  src/components/Lightbox/index.ts
  src/lib/hooks/useEscapeManager.test.tsx
  src/lib/hooks/useEscapeManager.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(lightbox): add lightbox component and escape manager (#239)
  package.json
  src/components/Lightbox/Lightbox.module.scss
  src/components/Lightbox/Lightbox.stories.tsx
  src/components/Lightbox/Lightbox.test.tsx
  src/components/Lightbox/Lightbox.tsx
  src/components/Lightbox/index.ts
  src/lib/hooks/useEscapeManager.test.tsx
  src/lib/hooks/useEscapeManager.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`1.14.0`) -> (`1.15.0`)
  package.json
Due: none

chore: bump version (`1.14.0`) -> (`1.15.0`) (#240)
  package.json
Due: none

feat(components): export lightbox component
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

feat(components): export lightbox component (#241)
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

Path conditions:
  yarn prettify: (any of: *.{ts,tsx}) or (any of: *.scss)
  yarn lint:scripts: any of: *.{ts,tsx}
  yarn lint:styles: any of: *.scss
