Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

feat: add viewportClassName to toast viewport (#145)
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`0.26.2`) -> (`0.26.3`)
  package.json
Due: none

chore: bump version (`0.26.2`) -> (`0.26.3`) (#146)
  package.json
Due: none

feat: add ability to increase/decrease toast notification duration
  src/components/ToastNotification/ToastNotification.stories.tsx
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

feat: add ability to increase/decrease toast notification duration (#147)
  src/components/ToastNotification/ToastNotification.stories.tsx
  src/components/ToastNotification/ToastNotification.test.tsx
  src/components/ToastNotification/ToastNotification.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (`0.26.3`) -> (`0.26.4`)
  package.json
Due: none

chore: bump version (`0.26.3`) -> (`0.26.4`) (#148)
  package.json
Due: none

feat(alert): info `Alert` icon (#142)
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Icons/icons/IconInfoCircle.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch (`0.26.4` -> `0.26.5`)
  package.json
Due: none

chore: downgrade react-router-dom
  package.json
  yarn.lock
Due: none

fix: icon button size ratios
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: button and icon size ratios
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

refactor: tidy up tests for Icon Button and add coverage
  src/components/IconButton/IconButton.test.tsx
Due: yarn prettify, yarn lint:scripts

fix: icon button size ratio enhancements and refinements (#150)
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (`0.26.5`) -> (`0.26.6`)
  package.json
Due: none

chore: bump version (`0.26.5`) -> (`0.26.6`) (#151)
  package.json
Due: none

Update the dropdown menu to v2.0.6
  package.json
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/SelectInput/SelectInput.test.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts

Update the dropdown menu to v2.0.6 (#152)
  package.json
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/SelectInput/SelectInput.test.tsx
  yarn.lock
Due: yarn prettify, yarn lint:scripts

chore: bump version (0.26.6) -> (0.27.0)
  package.json
Due: none

Wrap the dropdown in a Portal
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/SelectInput/SelectInput.test.tsx
Due: yarn prettify, yarn lint:scripts

Wrap the dropdown in a Portal (#153)
  src/components/DropdownMenu/DropdownMenu.test.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/SelectInput/SelectInput.test.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (0.27.0) -> (0.27.1)
  package.json
Due: none

feat: Add inProgress option to ModalConfirmation
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

Change the cancel button to the text version
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

Remove CODEOWNERS
  CODEOWNERS
Due: none

Remove CODEOWNERS (#155)
  CODEOWNERS
Due: none

feat: tweak ModalConfirmation behaviour (#154)
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (0.27.1) -> (0.28.0)
  package.json
Due: none

feat: update search input inset styles
  src/components/Input/Input.module.scss
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/SearchInput.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: update search input inset styles (#156)
  src/components/Input/Input.module.scss
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/SearchInput.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump version (0.28.0) -> (0.29.0)
  package.json
Due: none

feat: update password input icon button size
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: handle icon size on password input
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: update password input icon button size (#157)
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump version (0.29.0) -> (0.30.0)
  package.json
Due: none

Add a width to the inner Input to allow proper sizing
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

Add a width to the inner Input to allow proper sizing (#158)
  src/components/Input/Input.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump major version (0.30.0) -> (1.0.0)
  package.json
Due: none

feat: remove avatar status border and update position
  src/components/Avatar/Avatar.module.scss
Due: yarn prettify, yarn lint:styles

feat: apply avatar inset and box shadow
  src/components/Avatar/Avatar.module.scss
  src/styles/_glass.scss
Due: yarn prettify, yarn lint:styles
