Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

story(image): add story
  src/components/Image/Image.stories.tsx
Due: yarn prettify, yarn lint:scripts

refactor(image): improve clarity
  src/components/Image/Image.tsx
Due: yarn prettify, yarn lint:scripts

feat: add Image component (#66)
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/GridCard.test.tsx
  src/components/GridCard/GridCard.tsx
  src/components/Image/Image.module.scss
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add empty result, search result and search placeholder (#65)
  src/components/AsyncTable/AsyncTable.module.scss
  src/components/AsyncTable/AsyncTable.tsx
  src/components/AsyncTable/Controls.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (`0.10.0` -> `0.11.0`)
  package.json
Due: none

fix(async-table): optional data bug
  src/components/AsyncTable/AsyncTable.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch (`0.11.0` -> `0.11.1`)
  package.json
Due: none

chore: bump patch (`0.11.1` -> `0.11.2`)
  package.json
Due: none

fix(grid-card): correct border color
  src/components/GridCard/GridCard.module.scss
Due: yarn prettify, yarn lint:styles

fix(grid-card): correct border color (#67)
  src/components/GridCard/GridCard.module.scss
Due: yarn prettify, yarn lint:styles

fix(image): add missing onError
  src/components/Image/Image.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump patch (`0.11.2` -> `0.11.3`)
  package.json
Due: none

chore: bump `.nvmrc` to `16.17.0`
  .nvmrc
Due: none

fix(image): skeleton disappearing Because zIndex was -1, set it to 1 and all fixed 🤝
  src/components/Image/Image.module.scss
Due: yarn prettify, yarn lint:styles

chore: bump patch (`0.11.3` -> `0.11.4`)
  package.json
Due: none

add toast component and storybook
  package.json
  src/ZUIProvider.tsx
  src/components/.storybook/StoryCard/StoryCard.tsx
  src/components/.storybook/StoryCard/story-card.scss
  src/components/InfoTooltip/InfoTooltip.stories.tsx
  src/components/InfoTooltip/InfoTooltip.tsx
  src/components/Toast/Toast.constants.ts
  src/components/Toast/Toast.module.scss
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/index.ts
  src/components/Tooltip/Tooltip.scss
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/index.ts
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

add error styles in wizard confirmation component
  src/components/Wizard/Presets/Confirmation.module.scss
  src/components/Wizard/Presets/Confirmation.scss
  src/components/Wizard/Presets/Confirmation.tsx
  src/components/Wizard/Wizard.stories.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix(grid-card): should take default div onClick
  src/components/GridCard/GridCard.tsx
Due: yarn prettify, yarn lint:scripts

chore: increment patch (`0.11.4` -> `0.11.5`)
  package.json
Due: none

feat: add member and address components
  src/components/Address/Address.module.scss
  src/components/Address/Address.stories.tsx
  src/components/Address/Address.tsx
  src/components/Address/index.ts
  src/components/Member/Member.module.scss
  src/components/Member/Member.stories.tsx
  src/components/Member/Member.test.tsx
  src/components/Member/Member.tsx
  src/components/Member/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

refactor: organise tests with describe blocks
  src/components/Member/Member.test.tsx
Due: yarn prettify, yarn lint:scripts

feat: add address tests
  src/components/Address/Address.test.tsx
  src/components/Member/Member.test.tsx
Due: yarn prettify, yarn lint:scripts

feat: add formatting addresses utils
  src/components/Address/Address.tsx
  src/components/AsyncTable/AsyncTable.tsx
  src/lib/hooks/useDebounce.ts
  src/utils/formatting/addresses.ts
Due: yarn prettify, yarn lint:scripts

refactor: improve exporting of address utils
  src/components/Address/Address.tsx
  src/utils/formatting/index.ts
  src/utils/index.ts
Due: yarn prettify, yarn lint:scripts

fix: resolve failing tests
  src/components/Address/Address.test.tsx
  src/components/Address/Address.tsx
Due: yarn prettify, yarn lint:scripts

feat: add select input
  src/components/Input/Input.tsx
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.stories.tsx
  src/components/SelectInput/SelectInput.test.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/SelectInput/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: adjust wrapper background
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

refactor: improve result of address prop
  src/components/Address/Address.tsx
Due: yarn prettify, yarn lint:scripts

feat: add member and address components (#70)
  src/components/Address/Address.module.scss
  src/components/Address/Address.stories.tsx
  src/components/Address/Address.test.tsx
  src/components/Address/Address.tsx
  src/components/Address/index.ts
  src/components/AsyncTable/AsyncTable.tsx
  src/components/Member/Member.module.scss
  src/components/Member/Member.stories.tsx
  src/components/Member/Member.test.tsx
  src/components/Member/Member.tsx
  src/components/Member/index.ts
  src/components/index.ts
  src/lib/hooks/useDebounce.ts
  src/utils/formatting/addresses.ts
  src/utils/formatting/index.ts
  src/utils/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): integrated radix checkbox component
  package.json
  yarn.lock
Due: none

feat(checkbox): added new tick icon for checkbox
  src/components/Icons/Icons.constants.ts
  src/components/Icons/Icons.types.ts
  src/components/Icons/icons/IconCheckBoxCheck.tsx
  src/components/Icons/index.ts
Due: yarn prettify, yarn lint:scripts

feat(checkbox): implemented new checkbox component
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.tsx
  src/components/index.ts
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): added focus state and removed inline styles
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): removed content full for light theme checkbox
  src/components/Checkbox/Checkbox.stories.tsx
Due: yarn prettify, yarn lint:scripts

Added standard slider and smaller version of standard slider
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added Range slider
  src/components/Slider/RangeSlider/RangeSlider.tsx
Due: yarn prettify, yarn lint:scripts

updated classes to match the rest of our components
  src/components/Slider/RangeSlider/RangeSlider.tsx
Due: yarn prettify, yarn lint:scripts

Updated class naming convention and removed css that was not required
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Added Range slider import and slider stories
  src/components/Slider/RangeSlider/RangeSlider.stories.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/index.ts
Due: yarn prettify, yarn lint:scripts

fix: remove loading header placeholders
  src/components/AsyncTable/Placeholder.tsx
  src/components/AsyncTable/Table.tsx
Due: yarn prettify, yarn lint:scripts

Path conditions:
  yarn prettify: (any of: *.{ts,tsx}) or (any of: *.scss)
  yarn lint:scripts: any of: *.{ts,tsx}
  yarn lint:styles: any of: *.scss
