Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

fix(checkbox): fixed padding issue for checkbox label and link
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

feat: add button variant to modal dialog trigger
  src/components/Modal/Modal.tsx
Due: yarn prettify, yarn lint:scripts

fix(checkbox): updated the classnames and removed light theme story
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): updated the types for link
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts

feat(checkbox): updated the styles and stories
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): modified the test cases
  src/components/Checkbox/Checkbox.test.tsx
Due: yarn prettify, yarn lint:scripts

chore(checkbox): mark as experimental
  src/components/Checkbox/Checkbox.tsx
Due: yarn prettify, yarn lint:scripts

feat: standard checkbox (#72)
  package.json
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.tsx
  src/components/Icons/index.ts
  src/components/index.ts
  src/styles/_colors.scss
  yarn.lock
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add select input (#71)
  src/components/DropdownMenu/DropdownMenu.tsx
  src/components/Input/Input.tsx
  src/components/SelectInput/SelectInput.module.scss
  src/components/SelectInput/SelectInput.stories.tsx
  src/components/SelectInput/SelectInput.test.tsx
  src/components/SelectInput/SelectInput.tsx
  src/components/SelectInput/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): implemented the advance checkbox
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(checkbox): added stories to advance checkbox component
  src/components/Checkbox/Checkbox.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat(checkbox): added test cases related to advance checkbox component
  src/components/Checkbox/Checkbox.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(checkbox): updated padding for the image checkbox
  src/components/Checkbox/Checkbox.module.scss
Due: yarn prettify, yarn lint:styles

feat(checkbox): advance checkbox (#78)
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(slider): add Slider component (#75)
  package.json
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/index.ts
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (`0.11.6` -> `0.12.0`)
  package.json
Due: none

chore: yarn install
  yarn.lock
Due: none

lint: fix warnings
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
  src/components/Image/Image.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): added the radix accordion component
  package.json
  yarn.lock
Due: none

feat(accordion): integrated the accordion component and they respective styles
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/index.tsx
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): added accordion stories
  src/components/Accordion/Accordion.stories.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): added accordion component test cases
  src/components/Accordion/Accordion.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): ran the prettier
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.test.tsx
  src/components/Accordion/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): removed the commented code
  src/components/Accordion/Accordion.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): updated the padding for low contrast
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat(accordion): added animation for the header
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat(accordin): exported the componentt
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

feat(status): implemented the status component
  src/components/Status/Status.module.scss
  src/components/Status/Status.stories.tsx
  src/components/Status/Status.tsx
  src/components/Status/index.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(status): added test cases for status component
  src/components/Status/Status.test.tsx
Due: yarn prettify, yarn lint:scripts

feat(status): added color codes
  src/components/Status/Status.module.scss
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:styles

feat(status): coverted size to ems and arranged exports in alphabetical order
  src/components/Status/Status.module.scss
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): changed px to rem and components export order
  src/components/Accordion/Accordion.module.scss
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat(accordion): removed the commented code
  src/components/Accordion/Accordion.module.scss
Due: yarn prettify, yarn lint:styles

feat(status): removed unwanted imports
  src/components/Status/Status.tsx
Due: yarn prettify, yarn lint:scripts

feat(accordion): removed unwanted imports
  src/components/Accordion/Accordion.tsx
Due: yarn prettify, yarn lint:scripts

feat(status badge): status badge component (#80)
  src/components/Status/Status.module.scss
  src/components/Status/Status.stories.tsx
  src/components/Status/Status.test.tsx
  src/components/Status/Status.tsx
  src/components/Status/index.tsx
  src/components/index.ts
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: increment minor version (`0.12.0` -> `0.13.0`)
  package.json
Due: none

fix: resolve lint warnings
  src/components/Status/Status.module.scss
  src/components/Status/Status.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

fix: resolve lint warnings (#81)
  src/components/Status/Status.module.scss
  src/components/Status/Status.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: minor version bump (`0.13.0` -> `0.13.1`)
  package.json
Due: none
