Repository zer0-os/zUI: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:scripts, yarn lint:styles

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn prettify", "yarn lint:scripts"],
  "*.scss": ["yarn prettify", "yarn lint:styles"]
}

fix(grid-card): flicker on image load (#95)
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/GridCard.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump patch (0.16.0 - 0.16.1)
  package.json
Due: none

Change the dropdown category item to be its own interface/object
  src/components/DropdownMenu/DropdownMenu.stories.tsx
  src/components/DropdownMenu/DropdownMenu.tsx
Due: yarn prettify, yarn lint:scripts

lint(markdown-editor): remove unused import
  src/components/Markdown/MarkdownEditor/MarkdownEditor.tsx
Due: yarn prettify, yarn lint:scripts

refactor(info-tooltip): remove #{} from styles
  src/components/InfoTooltip/InfoTooltip.scss
Due: yarn prettify, yarn lint:styles

refactor(info-tooltip): use rem for margin
  src/components/InfoTooltip/InfoTooltip.scss
Due: yarn prettify, yarn lint:styles

refactor(markdown-editor): re-order imports
  src/components/Markdown/MarkdownEditor/MarkdownEditor.tsx
Due: yarn prettify, yarn lint:scripts

refactor(select-input): remove commented css
  src/components/SelectInput/SelectInput.module.scss
Due: yarn prettify, yarn lint:styles

refactor(slider): better SCSS nesting
  src/components/Slider/Slider.module.scss
Due: yarn prettify, yarn lint:styles

feat(badge): badge component (#90)
  src/components/Badge/Badge.module.scss
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/index.tsx
  src/components/index.ts
  src/styles/_colors.scss
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

story: add all icons storybook (#94)
  src/components/Icons/story/Icons.stories.tsx
Due: yarn prettify, yarn lint:scripts

chore: bump minor (0.16.1 - 0.17.0)
  package.json
Due: none

lint(badge): fix warnings
  src/components/Badge/Badge.module.scss
  src/components/Badge/Badge.test.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

test(text-stack): fix broken test
  src/components/TextStack/TextStack.test.tsx
Due: yarn prettify, yarn lint:scripts

test(step-bar): fix broken test
  src/components/StepBar/StepBar.test.tsx
Due: yarn prettify, yarn lint:scripts

lint: fix warnings (#98)
  src/components/Badge/Badge.module.scss
  src/components/Badge/Badge.test.tsx
  src/components/StepBar/StepBar.test.tsx
  src/components/TextStack/TextStack.test.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

remove unused file - export all from ModalConfirmation
  src/components/Modal/ModalConfirmation.stories.tsx
  src/components/Modal/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

add modal confirmation (#93)
  src/components/Modal/ModalConfirmation/ModalConfirmation.module.scss
  src/components/Modal/ModalConfirmation/ModalConfirmation.stories.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.test.tsx
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
  src/components/Modal/ModalConfirmation/index.ts
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (`0.17.0`) -> (`0.18.0`)
  package.json
Due: none

ModalConfirmation props extends
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

ModalConfirmation props extends (#99)
  src/components/Modal/ModalConfirmation/ModalConfirmation.tsx
Due: yarn prettify, yarn lint:scripts

chore: increment version (`0.18.0`) -> (`0.18.1`)
  package.json
Due: none

add variant, style, size to iconButton
  src/components/IconButton/IconButton.module.scss
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/IconButton.types.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

add styling
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

add ut
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/IconButton.types.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: move getSize() out of function
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts

Icon button latest design (#100)
  src/components/IconButton/IconButton.module.scss
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add classNames
  .github/pull_request_template.md
  .scripts/generate-theme.js
  src/components/.storybook/HotswapContainer/HotswapContainer.module.scss
  src/components/Accordion/Accordion.module.scss
  src/components/Address/Address.module.scss
  src/components/Alert/Alert.module.scss
  src/components/AsyncTable/Controls.module.scss
  src/components/Avatar/Avatar.module.scss
  src/components/Card/Card.module.scss
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/templates/NFT.module.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/Icons/Icon.module.scss
  src/components/Icons/story/Icons.stories.tsx
  src/components/Image/Image.module.scss
  src/components/InfoTooltip/InfoTooltip.scss
  src/components/Input/Input.module.scss
  src/components/Link/ArrowLink/ArrowLink.module.scss
  src/components/Markdown/MarkdownEditor/MarkdownEditor.module.scss
  src/components/MediaInput/MediaInput.scss
  src/components/SelectInput/SelectInput.module.scss
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/override.scss
  src/components/SkeletonText/SkeletonText.module.scss
  src/components/Status/Status.module.scss
  src/components/Table/Controls.module.scss
  src/components/Table/Controls.tsx
  src/components/Table/Grid.module.scss
  src/components/Table/Message.module.scss
  src/components/Table/Message.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/Tabs/Tabs.module.scss
  src/components/TextStack/TextStack.module.scss
  src/components/ToggleGroup/ToggleGroup.module.scss
  src/styles/_colors.scss
  src/styles/_theme.scss
  tsconfig.json
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

feat: add classNames (#101)
  .github/pull_request_template.md
  .scripts/generate-theme.js
  src/components/.storybook/HotswapContainer/HotswapContainer.module.scss
  src/components/Accordion/Accordion.module.scss
  src/components/Address/Address.module.scss
  src/components/Alert/Alert.module.scss
  src/components/AsyncTable/Controls.module.scss
  src/components/Avatar/Avatar.module.scss
  src/components/Card/Card.module.scss
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/GridCard/GridCard.module.scss
  src/components/GridCard/templates/NFT.module.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/Icons/Icon.module.scss
  src/components/Icons/story/Icons.stories.tsx
  src/components/Image/Image.module.scss
  src/components/InfoTooltip/InfoTooltip.scss
  src/components/Input/Input.module.scss
  src/components/Link/ArrowLink/ArrowLink.module.scss
  src/components/Markdown/MarkdownEditor/MarkdownEditor.module.scss
  src/components/MediaInput/MediaInput.scss
  src/components/SelectInput/SelectInput.module.scss
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/override.scss
  src/components/SkeletonText/SkeletonText.module.scss
  src/components/Status/Status.module.scss
  src/components/Table/Controls.module.scss
  src/components/Table/Controls.tsx
  src/components/Table/Grid.module.scss
  src/components/Table/Message.module.scss
  src/components/Table/Message.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/Tabs/Tabs.module.scss
  src/components/TextStack/TextStack.module.scss
  src/components/ToggleGroup/ToggleGroup.module.scss
  src/styles/_colors.scss
  src/styles/_theme.scss
  tsconfig.json
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump patch (0.18.2 -> 0.18.3)
  package.json
Due: none

Add PasswordInput
  src/components/Input/Input.module.scss
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/PasswordInput.test.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/index.tsx
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

Export PasswordInput from the rolled up file
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts

Fix lint
  src/components/Input/PasswordInput.test.tsx
Due: yarn prettify, yarn lint:scripts

feat: Add PasswordInput (#102)
  src/components/Input/Input.module.scss
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/PasswordInput.test.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/index.tsx
  src/components/index.ts
Due: yarn prettify, yarn lint:scripts, yarn lint:styles

chore: bump minor (0.18.3) -> (0.19.0)
  package.json
Due: none

fix: prevent password input from submitting forms
  src/components/Input/PasswordInput.tsx
Due: yarn prettify, yarn lint:scripts

feat: Allow buttons to be typed as "submit"
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: yarn prettify, yarn lint:scripts
